{% load static %}
{% include "base.html" %}
{% block body %}

<br><br>
<br><br>

  <h4 align="center">Membership fee ${{amount_display}}/year</h4>
<br>
  <form align="middle" action="{% url 'membership:charge' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Django Charge"
            data-amount="{{amount}}"
            data-locale="auto"></script>
  </form>
{% endblock %}
