<style>
    .nav-tabs {
        font-size:13px;
    }
    @media only screen and (max-width: 500px) {
        .nav-tabs {
            font-size:9px
        }
        .nav-item {
            width:70px;
            /*min-height:70px;*/
        }

    }


</style>



<div style="font-size: 13px;width:100%;margin:0;padding:0;">
    <ul class="nav nav-tabs">
    {% if tab == 'brg' or tab == 'brs' or tab == 'brh' %}
            <li class="nav-item"><a class="nav-link {{brg}}" href="{% url 'membership:browsegen' %}?tab=brg&att="><span style="color:#575757;">Genera</span></a></li>
            <li class="nav-item"><a class="nav-link {{brs}}" href="{% url 'membership:browse'  %}?tab=brs&type=species&att="><span style="color:#575757;">Species</span></a></li>
            <li class="nav-item"><a class="nav-link {{brh}}" href="{% url 'membership:browse'  %}?tab=brh&type=hybrid&att="><span style="color:#575757;">Hybrid</span></a></li>
    {% else %}
        {% if species.type == 'species' %}
            <li class="nav-item"><a class="nav-link {{spc}}" href="{% url 'membership:species' %}?pid={{species.pid.pid}}&tab=hyb&att="><span style="color:#575757;">Summary</span></a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link {{hyb}}" href="{% url 'membership:hybrid' %}?pid={{species.pid.pid}}&tab=hyb&att="><span style="color:#575757;">Hybrid</span></a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link {{upl}}" href="#"><span style="color:#575757;">Upload</span></a></li>
    {% endif %}

    </ul>
</div>

