{% load static %}
{% include "base.html" %}
{% include 'detail/detail-title.html' %}
{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'utils/css/lightbox.css' %}">
    <script type="text/javascript" src="{% static 'utils/js/lightbox.js' %}"></script>
</head>

<style>
    .mylist {
        max-height:400px;
        overflow-y: auto;
        font-size:12px;
        color: blue;
        line-height: 1;
    }
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 16vw;
   width : 16vw;
   padding:2px 1px 3px 1px;
}

div.text-c {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
}
.imgcaption {
    font-size: 17px;
    margin:5px 0 0 0;
    padding:0;
    height: 20px;
    /*overflow: hidden;*/
}

.box {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    margin: 3px 10px;
    /*border:1px solid grey;*/
}

.imageitem {
    display:inline-block;
    border:1px solid lightgrey;
    margin:5px;
    width : 22vw;
    background-color: #eaeaea;
}
.image {
    border:0 solid red;
    margin: 5px;
    /*margin:0 0 30px 0;*/
    /*padding:0 0 30px 0;*/

}
img{
    width:100%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 630px) {

    div.text-c {
        font-size: 10px;
    }
    .thumbnails {
       height: 22vw;
       width: 22vw;
       padding:2px 1px 3px 1px;
        border:1px solid green;
    }
    .imageitem {
        width: 30vw;
    }
    .image {
        width: 25vw;
    }
}

@media only screen and (max-width: 580px) {
}


</style>
        <!--Main sections-->
<div style="width:95%;margin:0 auto;">
    <div class="container-fluid" style="min-height:200px;border:0 solid grey;padding:0">
        <!-- Main -->

        <div class="row">
            <div class="col-sm-2 hidden-xs" style="padding:0; border:0 solid lightgrey">
                {% include "membership/sidebar.html" %}
            </div>
            <div class="col-sm-10 hidden-xs" style="padding:0; border:0 solid lightgrey">
                {% include "membership/member-nav.html" %}
               <div class="tab-content clearfix" style="background-color:white; margin:0 auto;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;min-height:1000px">
                    <span class="tab-pane active" id="sum" style="margin: 0 auto; text-align: center">
                        <div style="display:block; text-align:center;padding:3px;border:0 solid deeppink;font-size: 12px">
                        </div>
<!--                        page = {{page}} - prev = {{prev_page}}-->
                        {% if my_list %}
                        <!--Filter-->
                        {% if page > prev_page %}
                            <a class="align-middle" href="{% url 'membership:species' %}?pid={{species.pid}}&page=1&tab=spc&att="><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></a>
                            <a class="align-middle" href="{% url 'membership:species' %}?pid={{species.pid}}&page={{prev_page}}&tab=spc&att="><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></a>
                        {% else %}
                            <span class="align-middle"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></span>
                            <span class="align-middle"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></span>
                        {% endif %}
                        <div style="display:inline;font-size:13px;padding:0 10px 15px 10px;">&nbsp;page {{page}} of {{last_page}}&nbsp;</div>
                        {% if page < next_page %}
                            <a class="align-middle" href="{% url 'membership:species' %}?pid={{species.pid}}&page={{next_page}}&tab=spc&att="><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
                            <a class="align-middle" href="{% url 'membership:species' %}?pid={{species.pid}}&page={{last_page}}&tab=spc&att="><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>
                        {% else %}
                            <span class="align-middle"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></span>
                            <span class="align-middle"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></span>
                        {% endif %}
                            <div style="clear:left; margin-top:5px;min-height:200px;">
                                {% for image in my_list %}
                                    <div class="imageitem">
                                        {% if image.image_file %}
                                            <div class="image">
                                                <a href="{% static 'utils/images/species/' %}{{image.image_file}}" data-lightbox="summary" data-title="<h6><small>{{image.id}}: {{image.imgname}} <br> {{image.get_displayname}} <br>{% if image.text_data %}{{image.text_data|safe}}{% endif %}</h6></small>">
                                                     <div class="box">
                                                         <img class="thumbnails" alt="" src="{% static image.image_dir %}{{image.image_file}}" style="border: 1px solid lightgrey;padding:0">
                                                     </div>
                                                 </a>
                                            </div>
                                        {% else %}
                                            <div class="box">
                                                <img  class="thumbnails thumbnails1" alt="" src="{{image.image_url}}" style="padding:0; border:1px solid darkgrey;">
                                                <div class="text text-br" >
                                                    <span style="color:darkgrey">{{image.pid}}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="imgcaption" style="border:0 solid green;margin:0;min-height:60px;font-size:12px;text-align:left;padding:0 10px;word-wrap: normal;">
                                            {% if image.imginfo %}{{image.imginfo}}{% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        {% else %}
                             <br>
                         <div style="width: 60%; border:1px solid lightgrey; margin:0 auto; text-align: center; padding:50px">
                            No image available. if you have one please consider uploading it to
                            <a href="{% url 'detail:myphoto' species.pid %}?tab=sum&att=">My photo</a> tab above, or post it in
                                <a href="https://www.facebook.com/groups/BlueNanta/?ref=br_rs">Blue Nanta, OrchidRoots User's Group</a> in Facebook.
                            Copyright credit and a link to your website will be displayed under every photo selected for public view.

                        </div>
                        {% endif %}
                        <br>
                        <div style="clear:left;margin:0 auto;">
                            <hr><br>
                            <div style="width: 100%; text-align: center;">
                                <h5>Immediate Offspring</h5>
                            </div>
                             {% if offspring_count > 0 and not variety %}
                            * indicates available images
                            <!--seed offspring-->
                             <div style="width:95%;margin:0 auto;border: 0 solid blue;">
                                 <table class="table table-sm table-hover table-condensed table-border" style="font-size:12px;margin:0 auto; width: 80%;border:1px solid #ccc;">
                                     <tr bgcolor="#e3e3e3">
                                         <th class="border-rb">Grex</th><th class="border-rb">Seed Parent</th><th class="border-rb">Pollen Parents</th></tr>
                                     {% for species in offspring_list %}
                                     <tr>
                                         <td class="border-rb" style="text-align: left;">
                                             <a href="{% url 'detail:hybrid' species.pid.pid %}?type=hybrid&tab=sum">
        <!--                                         TOD) fix namecasual-->
                                                 {{species.pid.name|safe }}
                                             {% if species.pid.num_image %} *{% endif %}
                                             </a> </td>
                                         <td class="border-rb" style="text-align: left">
                                             {% if species.seed_id.type == 'hybrid' %}
                                                {% if species.seed_id %}
                                                    <a href="{% url 'detail:hybrid' species.seed_id.pid %}?type=hybrid&tab=sum">{{species.seed_id.namecasual|safe }}</a>
                                                {% else %}
                                                    {{species.seed_id}}
                                                {% endif %}
                                             {% elif species.seed_id.type == 'species' %}
                                                {% if species.seed_id %}
                                                    <a href="{% url 'detail:species' species.seed_id.pid %}?type={{type}}&tab=sum">{{species.seed_id.namecasual|safe }}</a>
                                                {% else %}
                                                   {{species.seed_id}}
                                                {% endif %}
                                             {% else %}
                                                {% if species.seed_id %}
                                                    {{species.seed_genus}} {{species.seed_species }}
                                                {% else %}
                                                    na
                                                {% endif %}
                                             {% endif %}
                                         </td>
                                         <td class="border-rb" style="text-align: left">
                                             {% if species.pollen_id.type == 'hybrid' %}
                                                {% if species.pollen_id %}
                                                    <a href="{% url 'detail:hybrid' species.pollen_id.pid %}?type=hybrid&tab=sum">{{species.pollen_id.namecasual|safe }}</a>
                                                {% else %}
                                                    {{species.pollen_id}}
                                                {% endif %}
                                             {% elif species.pollen_id.type == 'species' %}
                                                {% if species.pollen_id %}
                                                    <a href="{% url 'detail:species' species.pollen_id.pid %}?type={{type}}&tab=sum">{{species.pollen_id.namecasual|safe }}</a>
                                                {% else %}
                                                    {{species.pollen_id}}
                                                {% endif %}
                                             {% else %}
                                                {% if species.pollen_id %}
                                                    {{species.registered_pollen_name|safe}}
                                                {% else %}
                                                    na
                                                {% endif %}
                                             {% endif %}
                                         </td>
                                     </tr>
                                     {% endfor %}
                                 </table>
                                 <br><br>
                             </div>
                            {% else %}
                                <div style="margin: 20px">
                                None
                                </div>
                            {% endif %}
                        </div>

                    </div> <!--Summary-->
                </div>
            </div>
        </div>
    </div>
</div>


<!--<footer>Copyright &copy; OrchidRoots.com</footer>-->



{# TODO: Add sort image by - RANDOM, DISTANCE, DATE #}


<script type="text/javascript">

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });


</script>



{% endblock %}



