<style>
    .genus {
        font-size:114px;
    }
</style>

             <div class="">
             {% if myspecies_list %}
                 <div class="mylist">
                     <h6>Species</h6>
                     <ul style="list-style-type:none;padding-left:20px">
                     {% for x in myspecies_list %}
                        {% if x.0.genus != x.1 %}
                         <li><a href="{% url 'partnership:browse' partner.partner_id %}?genus={{x.0.genus}}&type=species&tab=pri&author={{author.author_id}}&att="><strong>{{x.0.genus}}</strong></a></li>
                            <li><a href="{% url 'partnership:species' partner.partner_id %}?pid={{x.0.pid}}&type=species&tab=spc&author={{author.author_id}}&att=">&nbsp;&nbsp;&nbsp;{{x.0.speciesname|safe}}</a></li>
                        {% else %}
                            <li><a href="{% url 'partnership:species' partner.partner_id %}?pid={{x.0.pid}}&type=species&tab=spc&author={{author.author_id}}&att=">&nbsp;&nbsp;&nbsp;{{x.0.speciesname|safe}}</a></li>
                        {% endif %}
                     {% endfor %}
                     </ul>
                 </div>
             {% endif %}

             {% if myhybrid_list %}
                 <hr>
                 <h6>Hybrid</h6>
                 <div class="mylist">
                     <ul style="list-style-type:none;;padding-left:20px">
                     {% for x in myhybrid_list %}
                        {% if x.0.genus != x.1 %}
                            <li><a href="{% url 'partnership:browse' partner.partner_id %}?genus={{x.0.genus}}&type=hybrid&tab=pri&author={{author.author_id}}&att=">{{x.0.genus}}</a></li>
<!--                            <li><a href="{% url 'detail:myphoto' x.0.pid %}?type=hybrid&tab=pri&author={{author.author_id}}&att=">{{x.0.genus}}</a></li>-->
                            <li><a href="{% url 'partnership:hybrid' partner.partner_id %}?pid={{x.0.pid}}&type=hybrid&tab=hyb&author={{author.author_id}}&att=">&nbsp;&nbsp;&nbsp;{{x.0.speciesname|safe}}</a></li>
                        {% else %}
                            <li><a href="{% url 'partnership:hybrid' partner.partner_id %}?pid={{x.0.pid}}&type=hybrid&tab=hyb&author={{author.author_id}}&att=">&nbsp;&nbsp;&nbsp;{{x.0.speciesname|safe}}</a></li>
                        {% endif %}
                     {% endfor %}
                     </ul>
                 </div>
             {% endif %}
             <hr>
         </div>
