{% load static %}
{% include "base.html" %}
{% block body %}
<style>

.custom-select{
    margin-right:5px;
    background-color: #f9f9f9;
    color: #292929;
    width:180px;
    /*height:50px;*/
    font-size:13px;
}

.custom-select:hover {
    text-decoration: none;
    background-color: #8887bd;
    color: white;
}

.custom-link{
    margin-right:5px;
    background-color: #f9f9f9;
    color: #292929;
    width:180px;
    /*height:50px;*/
    font-size:13px;
}

.custom-link:hover {
    text-decoration: none;
    background-color: #8887bd;
    color: white;
}

    @media only screen and (max-width: 600px) {
        .table {
            font-size: 12px;
        }
    }
</style>




<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<div style="clear:both"></div>
<br>
<div class="container">
    <div class="d-flex p-2 justify-content-left" style="margin-left:25px;">
        <h4>Nomenclature</h4>
    </div>

    <div class="d-flex flex-row flex-wrap p-2 justify-content-left" style="margin-left:25px;">
        <form action="{% url 'search:nomenclature' %}" autocomplete="off">
            <input type="hidden" name="role" value="{{ role }}" />
            <input list="genus_list" name="genus" onClick="this.setSelectionRange(0, this.value.length)" value="{{genus}}" class="custom-select" placeholder="Select a genus first">
        </form>
        <datalist id="genus_list">
            {% for g in genus_list %}
                <option value="{{g.genus}}">{{g.genus}}</option>
            {% endfor %}
        </datalist>

<!--            Species-->
        <form action="{% url 'search:nomenclature' %}" autocomplete="off">
            <input list="species_list" name="species" value="{{species}}" class="custom-select" placeholder="{% if not genus %}Then select a species{% else %}Select {{genus}} species {% endif %}"/>
<!--                    <input list="species_list" name="species" onfocus="this.value=''"  value="{{species}}" class="custom-select" placeholder="{% if species.type == 'species' %}{{species}}{% endif %}"/>-->
            <input type="hidden" name="pid" value="{{ species.pid }}" />
            <input type="hidden" name="genus" value="{{ genus }}" />
            <input type="hidden" name="role" value="{{ role }}" />
            <input type="hidden" name="type" value="species" />
        </form>
        <datalist id="species_list">
            {% for s in species_list %}
            <option value="{{s.navbar_name}}"></option>
            {% endfor %}
        </datalist>

<!--            HYBRID LIST        -->
        <form action="{% url 'search:nomenclature' %}" autocomplete="off">
            <input list="hybrid_list" name="species" value="{{species}}" class="custom-select" placeholder="{% if not genus %}Or select a hybrid{% else %}Select {{genus}} hybrid {% endif %}">
            <input type="hidden" name="pid" value="{{ species.pid }}" />
            <input type="hidden" name="genus" value="{{ genus }}" />
            <input type="hidden" name="role" value="{{ role }}" />
            <input type="hidden" name="type" value="hybrid" />
        </form>
        <datalist id="hybrid_list">
            {% for s in hybrid_list %}
                <option value="{{s.navbar_name}}"></option>
            {% endfor %}
        </datalist>
    </div>



    {% if genus %}
        <div class="d-flex p-2 justify-content-left" style="margin:25px 0 0 25px;">
                Go to {{genus}} species/hybrid lists or images
        </div>
        <div class="d-flex flex-row flex-wrap p-2 justify-content-left">
            <div class="d-flex flex-row flex-wrap p-2 justify-content-left">
                <div class="d-flex flex-row flex-wrap p-2 m-2 justify-content-left">
                    <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:species' %}?role={{role}}&genus={{genus}}">{{genus}} Species List</a>
                    <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:browse' %}?role={{role}}&genus={{genus}}&type=species">{{genus}} Species Images</a>
                    <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:hybrid' %}?role={{role}}&genus={{genus}}">{{genus}} Hybrid List</a>
                    <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:browse' %}?role={{role}}&genus={{genus}}&type=hybrid">{{genus}} Hybrid Images</a>
                </div>
            </div>
        </div>

<!--    <div class="d-flex flex-row flex-wrap p-2 justify-content-left">-->
<!--        <div class="d-flex flex-row flex-wrap p-2 justify-content-left">-->
<!--            <form action="{% url 'search:nomenclature' %}" autocomplete="off">-->
<!--                <input type="hidden" name="role" value="{{ role }}" />-->
<!--                <input list="intragen_list" name="genus" onClick="this.setSelectionRange(0, this.value.length)" class="custom-select" placeholder="Other related genera">-->
<!--            </form>-->
<!--            <datalist id="intragen_list">-->
<!--                {% for s in intragen_list %}-->
<!--                    <option value="{{s.genus}}"></option>-->
<!--                {% endfor %}-->
<!--            </datalist>-->
<!--        </div>-->
<!--    </div>-->
    {% endif %}

    <div class="d-flex p-2 justify-content-left" style="margin: 25px 0 0 25px;">
            Still couldn't find what you are looking for?  Go to full lists
    </div>
    <div class="d-flex flex-row flex-wrap p-2 justify-content-left">
        <div class="d-flex p-2 justify-content-left">
            <div class="d-flex flex-row flex-wrap p-2 m-2 justify-content-left">
                <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:species' %}?role={{role}}">Full Species List</a>
                <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:browse' %}?role={{role}}&type=species">Full Species Images</a>
                <a class="btn btn-xs btn-outline-primary btn-color p-s custom-link" href="{% url 'orchidlist:hybrid' %}?role={{role}}">Full Hybrid List</a>
                <a class="btn btn-xs btn-outline-primary btn-color p-s custom-link" href="{% url 'orchidlist:browse' %}?role={{role}}&type=hybrid">Full Hybrid Images</a>
            </div>
        </div>
    </div>

    {% if intragen_list %}
        <div class="d-flex p-2 justify-content-left">
                Or try other related genera
        </div>
        <div class="d-flex p-2 justify-content-left">
            <div class="d-flex flex-row flex-wrap p-2 m-2 justify-content-left">
                    {% for x in intragen_list %}
                <a class="btn btn-xs btn-outline-primary btn-color p-2 custom-link" href="{% url 'orchidlist:hybrid' %}?role={{role}}&genus={{x}}&type=hybrid">{{x}}</a>
                {% endfor %}
            </div>
        </div>
   {% endif %}


</div>





{% endblock %}