{% load static %}
{% load humanize %}
{% include "base.html" %}
{% block body %}

<style>

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 400px) {
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

.button {
    background-color: #eaeaea;
    height:30px;
    width: 150px;
    border:1px solid #c7c7c7;
    color: #9b9b9b;
    /*padding: 4px 5px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  opacity: 1; /* Firefox */
}

.button1 {
    background-color: #eae6eb;
    color: #868686;
    border: 1px solid #acaf9c;
}

.button1:hover {
    background-color: #babbc1;
    text-decoration: none;
    color: white;
}


.filter {
    height:27px;
    width: 150px;
    font-size:13px;
    font-color:lightgrey;
    text-align:center;
    background-color: white;
    border:1px solid darkgrey;
    float: left;
    margin: 0 5px;
  color: #bdaec6;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #bdaec6;
  opacity: 1; /* Firefox */
}

.table-condensed{
  font-size: 14px;
}

input {
    text-align: center;
    margin: 0 5px;
    padding:0;
    height:30px;
    width: 150px;
 }
.scrollable-menu {
    height: auto;
    width:150px;
    padding:5px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size:13px;
    color: grey;
    line-height:20px;
}
.p-2 {
    padding:2px !important;
}
.submit {
    height:27px;
    width: 70px;
    font-size:12px;
    /*font-color:lightgrey;*/
    text-align:center;
    /*background-color: white;*/
    border:1px solid #ccc;
    float: left;
    margin: 0 5px;
}

.select-p2 {
    font-size:13px;
    color: #b9b9b9;
    width:150px;
    height:27px;
    margin:0 5px;
    border:1px solid #b8b8b8;
    padding:0;
    background-color:white;
}


</style>
<br>
<br>
<div style="clear:both"></div>
        <!--Filter-->
<div style="display:block; margin: 0 auto; width: 90%">
    <div class="d-flex justify-content-center">
        <h4>
        {% if genus %}{{genus}}{% endif %} Species List ({{total|intcomma}})
    {% if subgenus_obj %}Subgenus {{subgenus_obj.subgenus}}{% endif %}
    {% if section_obj %}Section {{section_obj.section}}{% endif %}
    {% if subsection_obj %}Subsection {{subsection_obj.subsection}}{% endif %}
    {% if series_obj %}Series {{series_obj.series}}{% endif %}
        </h4>
    </div>
    <div class="d-flex flex-row  flex-wrap">
        <!--Genus-->
        <form action="?" id="filter">
                <input type="hidden" name="alpha" value="{{alpha}}" />
                <input type="hidden" name="sort" value="{{sort}}" />
                <input type="hidden" name="subgenus" value="{{subgenus_obj.subgenus}}" />
                <input type="hidden" name="section" value="{{section_obj.section}}" />
                <input type="hidden" name="subsection" value="{{subsection_obj.subsection}}" />
                <input type="hidden" name="series" value="{{series_obj.series}}" />
                <input type="hidden" name="region" value="{{region_obj.series}}" />
                <input type="hidden" name="subregion" value="{{subregion_obj.series}}" />
        </form>
            <!--Species-->

        <div class="p-2">
            <input form="filter" name="genus" onfocus="this.select()" value="{{genus}}" placeholder="genus" data-toggle="tooltip"  data-placement="top" title="Genus"/>
        </div>

        <div class="p-2">
            <input form="filter" name="spc" value="{{spc}}" onfocus="this.select()" placeholder="Epithet" data-toggle="tooltip" data-placement="top" title="Species or hybrid name"/>
        </div>

        <!--Year-->
        <div class="p-2">
            <input form="filter" name="year" value='{{year}}' onfocus="this.select()" placeholder="Year" data-toggle="tooltip" data-placement="top" title="YYYY"/>
        </div>

        <!--Author-->
        <div class="p-2">
            <input form="filter" name="author" value='{{author}}' onfocus="this.select()" placeholder="author" data-toggle="tooltip" data-placement="top" title="Author"/>
        </div>
    </div>

    {% if type == 'species' and spc == '' %}
        <div class="d-flex flex-row  flex-wrap">
            <!--Subgenus Filter-->
            {% if subgenus_list.count > 1 or subgenus_obj %}
            <div class="p-2 dropdown" data-toggle="tooltip" data-placement="top" title="Subgenus">
                <button class="dropdown-toggle button select-p2" type="button" data-toggle="dropdown">
                    {% if subgenus_obj %}<span style="color:black">{{subgenus_obj.subgenus}}</span>{% else %}Subgenus{% endif %}
                </button>
                <ul class="dropdown-menu scrollable-menu ">
                    <li><a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus=&section=&subsection=&series=&genus={{genus}}">None</a>
                    </li>
                    {% for subgenus in subgenus_list %}
                    <li>{% if subgenus.0 != subgenus_obj.subgenus %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus.0}}&section=&subsection=&series=&genus={{genus}}">{{subgenus.1}}</a>
                        {% else %}<a href="#">{{subgenus_obj.1}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!--Sections Filter-->
            {% if section_list.count > 1 or section_obj %}
            <div class="p-2 dropdown" data-toggle="tooltip" data-placement="top" title="Section">
                <button class="dropdown-toggle button select-p2 " type="button" data-toggle="dropdown">
                    {% if section_obj %}<span style="color:black">{{section_obj.section}}</span>{% else %}Section{% endif %}
                </button>
                <ul class="dropdown-menu scrollable-menu">
                    <li>{% if section_obj %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus_obj.subgenus}}&section=&subsection=&series=&genus={{genus}}">None</a>
                        {% else %}<a href="#">&nbsp;None</a>
                        {% endif %}
                    </li>
                    {% for section in section_list %}
                    <li>{% if section.0 != section_obj.section %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus_obj.subgenus}}&section={{section.0}}&subsection=&series=&genus={{genus}}">{{section.1}}</a>
                        {% else %}<a href="#">{{section.1}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

             <!--Subections Filter-->
            {% if subsection_list.count > 1 %}
            <div class="p-2 dropdown" data-toggle="tooltip" data-placement="top" title="Subsection">
                <button class="dropdown-toggle button select-p2" type="button" data-toggle="dropdown">
                    {% if subsection_obj %}<span style="color:black">{{subsection_obj.subsection}}</span>{% else %}Subsection{% endif %}
                </button>
                <ul class="dropdown-menu scrollable-menu" >
                    <li>{% if subsection_obj %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection=&series=&genus={{genus}}"></a>
                        {% else %}<a href="#"></a>
                        {% endif %}
                    </li>
                    {% for subsection in subsection_list %}
                    <li>{% if subsection.0 != subsection_obj.subsection %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection.0}}&series={{series_obj.series}}&genus={{genus}}">{{subsection.1}}</a>
                        {% else %}<a href="#">{{subsection.1}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% endif %}

             <!--seriesies Filter-->
            {% if series_list.count > 1 or series_obj %}
            <div class="p-2 dropdown" data-toggle="tooltip" data-placement="top" title="Series">
                <button class="dropdown-toggle button select-p2" type="button" data-toggle="dropdown">
                    {% if series_obj %}<span style="color:black">{{series_obj.series}}</span>{% else %}Series{% endif %}
                </button>
                <ul class="dropdown-menu scrollable-menu" style="font-size: 11px;padding:5px;width:80px;">
                    <li>{% if series %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series=&genus={{genus}}">None</a>
                        {% else %}<a href="#">&nbsp;None</a>
                        {% endif %}
                    </li>
                    {% for series in series_list %}
                    <li>{% if series.0 != series_obj.series %}<a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion_obj.code}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series.0}}&genus={{genus}}">&nbsp;{{series.1}}</a>
                        {% else %}<a href="#">{{series.1}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="d-flex flex-row  flex-wrap">
        <div class="p-2 dropdown" data-toggle="tooltip" data-placement="top" title="Region">
            <button class="dropdown-toggle button select-p2" type="button" data-toggle="dropdown">
                {% if region_obj and region_obj.region != 0 and region_obj.region != 1 %}<span style="color:black">{{region_obj.name}}</span>{% else %}Region{% endif %}
            </button>
            <ul class="dropdown-menu  scrollable-menu">
                <li><a href="?alpha={{ alpha }}&sort={{ sort }}&region=&subregion=&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&genus={{genus}}">None</a></li>
                {% for region in region_list %}
                <li><a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region.id}}&subregion=&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&genus={{genus}}">{{region.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="p-2 dropdown">
            <button class="dropdown-toggle button select-p2" type="button" data-toggle="dropdown">
                {% if subregion_obj and subregion_obj.subregion != "All subregions" %}<span style="color:black">{{subregion_obj.name}}</span>{% else %}Subregion{% endif %}
            </button>
            <ul class="dropdown-menu  scrollable-menu">
                <li><a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion=&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&genus={{genus}}">All subregions</a></li>
                {% for subregion in subregion_list %}
                <li><a href="?alpha={{ alpha }}&sort={{ sort }}&region={{region_obj.id}}&subregion={{subregion.code}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&genus={{genus}}">{{subregion.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

            <!--Submit-->
    <div class="p-2">

        {% if gen or subgenus_obj.subgenus or section_obj.section or subsection_obj.subsection or series_obj.series %}
            <a class="button" href="{% url 'orchidlist:browse' %}?type={{type}}&gen={{gen}}&genus={{genus}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&display=checked">Browse Images</a>
        {% endif %}
        <button form="filter" style="height:27px;margin:0 5px;background-color: #1d6c6c; color:white">Submit</button>
    </div>





</div>

        <!--Main table-->
<div style="display:block; margin: 0 auto; width: 90%">
            {% include "orchidlist/alpha_list.html" %}

    <div style="background-color: #f5f9f9;clear:left;">
        <!--Pagination        -->
        {% if page_list %}
        <div style="float:left; width:95%;">
        {% include "./pagination.html" %}
        <!--main table-->

            <table class="table table-bordered table-sm table-condensed table-hover" id="myTable">
                <thead  class="thead-light">
{#                First column - All options#}
                    <tr class="center" bgcolor="#e3e3e3">
                        <th class="text-center">
                        {% if sort == 'genus' %}
                            <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=genus&prev_sort={{sort}}"><b>Genus&uarr;</b></a>
                        {% elif sort == '-genus' %}
                            <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=genus&prev_sort={{sort}}"><b>Genus&darr;</b></a>
                        {% else %}
                            <a data-toggle="tooltip" title="Click to sort by Genus" class="small" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=genus&prev_sort={{sort}}">Genus </a>
                        {% endif %}
                        -
                        {% if sort == 'species' %}
                            <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=species&prev_sort={{sort}}"><b>Species&uarr;</b></a>
                        {% elif sort == '-species' %}
                            <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=species&prev_sort={{sort}}"><b>Species&darr;</b></a>
                        {% else %}
                            <a data-toggle="tooltip" title="Click to sort by species" class="small" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=species&prev_sort={{sort}}">Species</a>
                        {% endif %}
                        -
<!--                        <i class="small" >Author</i>-->
                        -
                        {% if sort == 'year' %}
                            <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=year&prev_sort={{sort}}"><b>Year&uarr;</b></a>
                        {% elif sort == '-year' %}
                            <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=year&prev_sort={{sort}}"><b>Year&darr;</b></a>
                        {% else %}
                            <a data-toggle="tooltip" title="Click to sort by year" class="small" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=year&prev_sort={{sort}}">Year</a>
                        {% endif %}
                        </th>
                        {% if not subgenus_obj and not section_obj and not subsection_obj and not series_obj %}
                            <th class="text-center">Intragenus</th>
                        {% endif %}

                        <th class="text-center">Distribution</th>

                        {% if sort == 'num_descendant' %}
                            <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=num_descendant&prev_sort={{sort}}">   <b>#descendants&uarr;</b></a></th>
                        {% elif sort == '-num_descendant' %}
                            <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=num_descendant&prev_sort={{sort}}"><b>#descendants&darr;</b></a></th>
                        {% else %}
                            <th class="small  d-none d-sm-table-cell"><a data-toggle="tooltip" title="Click to sort by number of descendants" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=-num_descendant&prev_sort={{sort}}">#descendants</a></th>
                        {% endif %}
                        {% if sort == 'num_image' %}
                            <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=num_image&prev_sort={{sort}}"><b>#photos&uarr;</b></a></th>
                        {% elif sort == '-num_image' %}
                            <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=num_image&prev_sort={{sort}}"><b>#photos&darr;</b></a></th>
                        {% else %}
                            <th class="small  d-none d-sm-table-cell"><a data-toggle="tooltip" title="Click to sort by number of images" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&year={{ year }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&dist={{dist}}&sort=-num_image&prev_sort={{sort}}">#photos</a></th>
                        {% endif %}
                    </tr>
                </thead>
                {% for species in page_list %}
                    <tr>
                        <td align="left">
                            {% if species.status == 'synonym' %}
                                {{species.genus}} {{species.get_species}}
<!--                            <i>{{species.author}}</i>-->
                                {% if role == 'cur' %}
                                    (syn. <a href="{% url 'detail:photos' species.getAccepted.pid %}?role={{role}}">{{species.getAccepted.name}}</a>)
                                {% else %}
                                    (syn. <a href="{% url 'detail:information' species.getAccepted.pid %}?role={{role}}">{{species.getAccepted.name}}</a>)
                                {% endif %}
                            {% else %}
                                {% if role == 'cur' %}
                                    <a href="{% url 'detail:photos' species.pid %}?role={{role}}">{{species.genus}} {{species.get_species}}</a>
                                {% else %}
                                    <a href="{% url 'detail:information' species.pid %}?role={{role}}">{{species.genus}} {{species.get_species}}</a>
                                {% endif %}
<!--                            <i>{{species.author}}</i>-->
                            {% endif %}
                            {% if species.year > 0 %}<span  style="font-size: 11px;">{{species.year}}</span>{% endif %}
                        </td>


                        {% if not subgenus_obj and not section_obj and not subsection_obj and not series_obj %}
                        <td class="small  d-none d-sm-table-cell ">
                            {% if species.status == 'synonym' %}
                                {% if species.subgenus %}{{species.subgenus.subgenus}}{% endif %}
                            {% else %}
                                {% if species.accepted.subgenus %}Subgen. <a href="{% url 'orchidlist:browse' %}?subgenus={{species.accepted.subgenus}}&type=species&gen={{gen}}">{{species.accepted.subgenus}}</a>{% endif %}
                                {% if species.accepted.section %} Sec. <a href="{% url 'orchidlist:browse' %}?section={{species.accepted.section}}&type=species&gen={{gen}}">{{species.accepted.section}}</a>{% endif %}
                                {% if species.accepted.subsection %} Subsec. <a href="{% url 'orchidlist:browse' %}?subsection={{species.accepted.subsection}}&type=species&gen={{gen}}">{{species.accepted.subsection}}</a>{% endif %}
                                {% if species.accepted.series %} Ser. <a href="{% url 'orchidlist:browse' %}?series={{species.accepted.series}}&type=species&gen={{gen}}">{{species.accepted.series}}</a>{% endif %}
                            {% endif %}
                        </td>
                        {% endif %}
                        <td class="small align-center">
                            {% if species.status == 'synonym' %}
                                {% if species.getAccepted.distribution %}
                                    {{species.getAccepted.distribution}}
                                {% endif %}
                            {% else %}
                                {% if species.distribution %}
                                    {{species.distribution}}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="small  d-none d-sm-table-cell text-center">
                            {% if species.num_descendant %}
                                <a href="{% url 'orchidlist:progeny' species.pid %}?pid={{species.pid}}&role={{role}}">{{species.num_descendant}}</a>
                            {% endif %}
                        </td>
                        <td class="small  d-none d-sm-table-cell text-center">{% if species.num_image %}{{species.num_image}}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        <!--Pagination-->
        {% include "./pagination.html" %}
        </div>
        {% endif %}
    </div>
</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!--<script>-->
<!--var acc = document.getElementsByClassName("accordion");-->
<!--var i;-->

<!--for (i = 0; i < acc.length; i++) {-->
<!--  acc[i].onclick = function() {-->
<!--    this.classList.toggle("active");-->
<!--    var panel = this.nextElementSibling;-->
<!--    if (panel.style.maxHeight){-->
<!--      panel.style.maxHeight = null;-->
<!--    } else {-->
<!--      panel.style.maxHeight = panel.scrollHeight + "px";-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->


{% endblock %}
