{% load static %}
{% include 'base.html' %}
<head>

</head>
<style>
</style>

<body>
<br><br>
<div class="container-fluid" style="margin:0 auto;">
    <h3>Guideline for Photo Submission<br>
        <small>In progress</small>
    </h3>
    <ul>
        <li>Photo quality
            <ul>
                <li>In focus</li>
                <li>Natural color</li>
                <li>Normal Brightness</li>
                <li>Do not put species name in the photo</li>
                <li>Copy right, if present should small font placed at lower right or left corner. </li>
                <li>Plain Simple background, preferable solid dark color.</li>
            </ul>
        </li>
    </ul>
</div>

</body>




