{% load static %}
<head>

</head>
<style>
</style>

<body>
<br><br>
<div class="container-fluid" style="margin:0 auto;">

    <h5>What's New in OrchidRoots Version 3</h5>
    <div class="accordion" id="OrchidRootsHome" style="border:0 solid blue">

     <div class="card">
        <div class="card-header" id="headingPhoto">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePhoto" aria-expanded="true" aria-controls="collapsePhoto">
              Three Access levels
            </button>
          </h5>
        </div>
        <div id="collapsePhoto" class="collapse mytext" aria-labelledby="headingPhoto" data-parent="#OrchidRootsHome" >
          <div class="card-body">
            <ul>
                <li>Anonymous Users can access public pages without having to login. Public pages include search, browse lists and detail pages similar to those in the previous release</li>
                <li>Registered Users, in addition to public pages, may upload and manage their own photos in their private album.</li>
                <li>Curators have full access to both public and private pages.  Curators may approve private photos and included them in public pages.
                    A curator may also reidentify a photo if it is found to be incorrectly identified.</li>
            </ul>
          </div>
        </div>
     </div>

     <div class="card">
        <div class="card-header" id="headingUser">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
              Public vs Private Photos
            </button>
          </h5>
        </div>
        <div id="collapseUser" class="collapse mytext" aria-labelledby="headingUser" data-parent="#OrchidRootsHome" >
          <div class="card-body">
            <ul>
                <li>Uploaded photos are private until they are approved by a curator to bve displayed in a public page.  Users has an option to keep their photos private</li>
                <li>Public photos are those approved by curators for public displayed.  </li>
            </ul>
          </div>
        </div>
     </div>

     <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Improved Navigation
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse mytext" aria-labelledby="headingOne" data-parent="#OrchidRootsHome" >
          <div class="card-body">
            <ul>
                <li>Home page: A number of random images that will jump directly to the detail page of the species or hybrids in the photo.  Useful for new users who just want to browse around.
                <li>From any detail page, it is easy to switch to a different species or hybrid using dropdown lists on the navigation bar.</li>
                <li>Navigation bar:  Genus, Species and Hybrid links in the top navigation bar are now a dropdown list.  These lists provide another way to get to the detail page of a species/hybrid of your choice.
                    The original big genus and species tables are still available as the first option in the dropdown lists.
            </ul>
          </div>
        </div>
     </div>


     <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    User Private Album
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse mytext" aria-labelledby="headingOne" data-parent="#OrchidRootsHome" >
          <div class="card-body">
             User's private album shows all photos belonging users. To access private album, select "Private" button on the top of the page.  There are 5 different tabs in private album.
             <ul>
                <li>My collection tab: This tab contains random samples of each and every species/hybrid that has at least one photo submitted by the user</li>
                <li>Detail tab: Shows all photos of a species/hybrid submitted by the user.  Approved photos for public display are on the first half of the page.  Photos not approved are at the bottom half.
                    We try to keep list short but large enough to cover all aspects of the orchid.
                    Guidelines for photos acceptance will be available soon (?probably?) </li>
                <li>Private Photos: These photos were not approved for public access due to a number of factors, such as the quality of photo, incorrect or doubful identity,
                    or there are already many photos submitted for the species. Photos can be approved pending for approval and photos uploaded by users.<br>
                    This tab shows
                    <ul>
                        <li>The list of all species and hybrids on the right hand side of hte page.  The user has one or more photos in each orchid in hte list. Through thi slist,
                            user can access all of his/her photos in OrchidRoots</li>
                        <li>Upload local file button:  Let user upload photos from phone or desktop.</li>
                        <li>Upload from web button:  Let user upload photos from internet, including BlueNanta Group in Facebook</li>
                    </ul>
                </li>
            </ul>
              {% if user.tier.tier > 1 %}
                <a href="{% url 'documents:instructionupload_private' %}">How to upload a Photo</a>
                <a href="{% url 'documents:instructionupload_file' %}">How to upload a file </a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
