{% load static %}
{% include 'base.html' %}
<head>

</head>
<style>
.myimage {
    position: relative;
    text-align: center;
    color: white;
    width: 70%;
}
</style>

<body>
<br><br>
<div class="container-fluid" style="margin:0 auto;">
    <h3>Application for Recognition of Exemption Under 501(c)(3) of the IRS</h3>
</div>
<br>
<div class="myimage">
    <a class="button" href="/static/utils/images/corp/IRS-501c3_0.pdf" style="width:70%; border:1px solid lightgrey;">Page 1</a>
</div>
<br>
<div class="myimage">
    <a href="/static/utils/images/corp/IRS-501c3_1.pdf" style="width:70%;">Page 2</a>
</div>
</body>